@import "tailwindcss";

@font-face {
  font-family: "main";
  src: url("/fonts/ABCDiatypeMono.woff2");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-main: "main", sans-serif;
}

@font-face {
  font-family: "prim";
  src: url("/fonts/ABCDiatype.woff2");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-prim: "prim", sans-serif;
}
@font-face {
  font-family: "druk";
  src: url("/fonts/DrukWide-Heavy.woff2");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-druk: "druk", sans-serif;
}

@font-face {
  font-family: "druknw";
  src: url("/fonts/Druk-Heavy.woff2");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-druknw: "druknw", sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #000; /* Prevent white flashes */
}

/* Make sure absolutely NO overflow hiding is on the main containers */
html,
body {
  overflow-x: hidden;
}

/* 2. Official Lenis boilerplate styles */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
